@charset "UTF-8";

@font-face {
    font-family: 'Cooper Black';
    src: url(CooperFiveOpti-Black.otf) format('truetype');
}


* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(18, 21, 141);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

}


.linha {
    width: 100%;
    height: 1vh;
    background-color: rgba(159, 245, 0, 0.925) ;
}

.div__boxs {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around; /*faz com que as duas divs tenham o espaço livre ao redor distrubuidos igualitariamente*/
}

.div__box {
    border: 4px solid rgb(18, 21, 141) ;
    display: flex; 
    align-items: center; /*alinhando a img dentro da div*/
    justify-content: space-between;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    margin-top: 3em;
    border-radius: 10px;
    padding: 30px;
}

h2 {
     font-family: 'Cooper Black', Arial, Helvetica, sans-serif;
     -webkit-text-stroke: 2px rgba(0, 51, 255, 0.673);
     color: rgb(183, 255, 0);
     font-size: 1.7em;
    
}


.img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


